@import url("../fonts/font-awesome-4.7.0/css/font-awesome.min.css");
@font-face {
  font-family: "MyFont";
  src: url("../fonts/Abc/Stovia\ Personal\ Use\ SemiBold.eot") format("eot");
  src: url("../fonts/Abc/Stovia\ Personal\ Use\ SemiBold.ttf") format("ttf");
  src: url("../fonts/Abc/Stovia\ Personal\ Use\ SemiBold.woff") format("woff");
}
* {
  font-family: MyFont;
  font-weight: 400;
  margin: 0px auto;
  color: #fff;
}
/* body{
  overflow-x: hidden;
} */
/* ________________________app____________________ */
.app {
  width: 1200px;
  margin-bottom: 80px;
}
/* ____media-app___ */
@media screen and (max-width: 1199.98px) {
  .app {
    width: 996px;
  }
}
@media screen and (max-width: 995.98px) {
  .app {
    width: 776px;
  }
}
@media screen and (max-width: 775.98px) {
  .app {
    width: 557px;
  }
}
@media screen and (max-width:556.98px){
  .app{
    width: 100%;
    padding-left: 5px;
  }
}
/* ____//media-app//___ */
/* ________________________//app//____________________ */
/* ______________cod-repead_________ */
.color-gray {
  color: #888;
}
.color-555 {
  color: #555;
}
.color-black {
  color: #333;
}
.color-yellow {
  color: #f9b500;
}
.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}
a {
  text-decoration: none;
}
.text-black {
  color: #333;
  transition: color 0.3s;
}
.text-black:hover {
  color: #f9b500;
}
.ul-hover-yellow li a {
  color: #333;
  transition: color 0.3s;
}
.ul-hover-yellow li a:hover {
  color: #f9b500;
}
.text-header {
  position: relative;
  color: #333;
  transition: color 0.3s;
  padding: 20px 0px 20px;
  margin-bottom: 50px;
  font-weight: 600;
}
.text-header::after {
  position: absolute;
  bottom: 0px;
  left: 0px;
  content: "";
  width: 100%;
  height: 1px;
  background: #ccc;
}
.text-header::before {
  position: absolute;
  bottom: 0px;
  left: 0px;
  content: "";
  width: 11%;
  height: 5px;
  background-color: #f9b500;
  z-index: 2;
}
.text-hvoer-B {
  margin: 20px 0px 15px 0px;
}
.text-hvoer-B b a {
  font-weight: 600;
  font-size: 20px;
  color: #333;
  transition: color 0.3s;
}
.text-hvoer-B b a:hover {
  color: #f9b500;
}
.text-color-yelow b {
  color: #f9b500;
}
.text-header-info-bar a {
  color: #333;
  transition: color 0.3s;
  line-height: 1.2;
  padding: 15px 0px 15px;
}
.text-header-info-bar a:hover {
  color: #f9b500;
}
.ul-info-bar {
  margin: 0px;
  padding: 0px;
}
.info-bar li {
  margin-right: 20px;
  display: inline-block;
}
.icon-color {
  color: #f9b500;
  padding-right: 5px;
}
.float::after,
.float::before {
  content: "";
  display: block;
  clear: both;
}
/* ______________//cod-repead//_________ */
/* __________________________header-menu__________________________ */
header {
  width: 100%;
}
.logo-left {
  margin: 23px 0px;
  float: left;
}
header nav ul {
  text-align: right;
  line-height: 4.2;
}
.btn-icon-menu-berger {
  display: none;
  border: none;
  background-color: #fff;
  font-size: 18px;
  cursor: pointer;
}
@media screen and (max-width: 775.98px) {
  header nav {
    display: none;
  }
  header nav ul li {
    display: block;
    padding: 3px;
    width: 100%;
    border-bottom: 1px solid #333;
    text-align: left;
  }
  .btn-icon-menu-berger {
    display: block;
    float: right;
    margin: 25px 0px;
  }
  .info-bar li{
    margin-right: 0px;
  }
}
/* __________________________//header-menu//__________________________ */
/* ________________height-600px_____________ */
.conteiner {
  width: 100%;
}
.height-600 {
  width: 100%;
  height: 600px;
  margin-top: 5px;
  margin-bottom: 50px;
}
.intro-row {
  width: 100%;
}
.h-100 {
  height: 100%;
}
.intro-2-3-col {
  margin-right: 10px;
  width: calc(200% / 3 - 10px);
  float: left;
}
.intro-1-3-col {
  width: calc(100% / 3);
  float: right;
}
.h-50 {
  height: calc(50% - 5px);
}
.h-50:first-of-type {
  margin-bottom: 10px;
}
.intro-2-3-h {
  margin-bottom: 10px;
  height: calc(200% / 3);
}
.intro-1-3-h {
  height: calc(100% / 3);
}
.intro-item-1-3-col:nth-of-type(2) {
  margin-right: 10px;
  margin-left: 10px;
  width: calc(100% / 3 - 20px);
}
.intro-item-1-3-col {
  width: calc(100% / 3);
}
.intro-item-1-3-col {
  float: left;
}
.box {
  height: 100%;
  width: 100%;
  font-weight: 300;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0px;
}
.info-caption {
  position: absolute;
  bottom: 60px;
  left: 15px;
  font-weight: 700;
  font-size: 23px;
}
.info-li {
  position: absolute;
  bottom: 25px;
  left: 15px;
}
@media screen and (max-width: 775.98px) {
  .height-600 {
    height: auto;
  }
  .intro-row {
    margin: 0px;
    padding: 0px;
  }
  .intro-2-3-col {
    width: 100%;
    height: 300px;
  }
  .intro-1-3-col {
    width: 100%;
    height: auto;
  }
  .intro-item-1-3-col {
    width: 100%;
    height: 300px;
  }
  .intro-item-1-3-col:nth-of-type(2) {
    margin: 0px;
    width: 100%;
    height: 300px;
  }
  .h-50:first-child {
    margin: 0px;
    width: 100% !important;
    height: 300px !important;
  }
  .h-50 {
    margin: 0px;
    width: 100% !important;
    height: 300px !important;
  }
  .mrg-b-10 {
    margin-bottom: 10px !important;
  }
}
/* ________img in height-600______ */
.img-1 {
  background: url("../img/slider-1-1200x900.jpg") no-repeat center;
  background-size: cover;
}
.img-2 {
  background: url("../img/slider-2-450x600.jpg") no-repeat center;
  background-size: cover;
}
.img-3 {
  background: url("../img/slider-3-450x600.jpg") no-repeat center;
  background-size: cover;
}
.img-4 {
  background: url("../img/slider-4-450x600.jpg") no-repeat center;
  background-size: cover;
}
.img-5 {
  background: url("../img/slider-5-450x600.jpg") no-repeat center;
  background-size: cover;
}
.img-6 {
  background: url("../img/slider-6-450x600.jpg") no-repeat center;
  background-size: cover;
}
/* ________________//height-600px//_____________ */
main {
  margin-right: 25px;
  width: calc(200% / 3 - 25px);
  float: left;
}
aside {
  margin-left: 25px;
  float: right;
  width: calc(100% / 3 - 25px);
}
.p-mrg-b {
  margin: 20px 0px;
}
.content-news-r {
  margin-right: 20px;
  width: calc(100% / 2 - 20px);
  float: left;
  margin-bottom: 20px;
}
.content-news-l {
  width: calc(100% / 2);
  float: right;
  margin-bottom: 20px;
}
/* ________________________________aside__________________________ */
.new-price-crypto {
  margin-bottom: 40px;
}
.ul-ptice {
  margin: 0px;
  padding: 0px;
  background-color: #f9b500;
  list-style-type: none;
  text-align: center;
}
.ul-ptice li {
  padding: 18px;
  color: #333;
  border-bottom: 1px solid #fff;
}
.float-l-img-popular {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
.popular-post {
  margin-bottom: 30px;
}

/* ________________newsletter______________ */
.newsletter form {
  position: relative;
  margin: 20px 0px;
  overflow: hidden;
}
.newsletter form input[type="email"] {
  color: #555;
  padding: 13px;
  border: #f9b500 solid 1.5px;
  width: 90%;
  outline: none;
}
.newsletter form input[type="email"]:focus {
  border: 2px solid #f9b500;
  border-radius: 2px;
}
.btn-form-send{
  position: absolute;
  right: 38px;
  bottom: 0px;
  top: 0px;
  border: none;
  transition: all 0.3s ease-out;
  padding: 0px;
}
.btn-form-send i{
  display: block;
  color: black;
  font-size: 15px;
  transition: all 0.3s;
  padding: 15px 16px;
  background-color: #f9b500;
}
.btn-form-send i:hover {
  background-color: black;
}
.btn-form-send i:hover {
  color: #fff;
}
/* _________________footer______________ */
.img-world {
  background: url("../img/map.png") no-repeat center;
}
footer {
  width: 100%;
  background-color: black;
}
/* _________________continer-footer__________ */
.continer-footer {
  padding-top: 50px;
  width: 1200px;
}
.footer-col:nth-of-type(2) {
  margin-left: 25px;
  margin-right: 25px;
}
.footer-col {
  float: left;
  width: calc(100% / 3 - 23px);
  margin-bottom: 50px;
}
.footer-col img {
  padding-bottom: 20px;
}
.footer-col-item {
  margin-bottom: 20px;
  margin-top: 20px;
}
.footer-col p,
.footer-col i {
  color: #ccc;
  line-height: 1.6;
}
.footer-col hr {
  color: #555;
}
.footer-p-margin-t {
  margin-top: 25px;
}
.footer-row:first-child {
  border-bottom: 1px solid #555;
}
.footer-row{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.content-footer {
  list-style-type: none;
  padding: 0px;
  padding-top: 20px;
  padding-bottom: 15px;
}
.footer-content{
  float: left;
}
.content-footer li {
  display: inline;
  margin-right: 15px;
  font-size: 15px;
}
.content-footer li a {
  color: #ccc;
}
.footer-row a {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.footer-row a:hover {
  color: #f9b500;
}
.footer-col-item p {
  padding-top: 5px!important;
}
.footer-sotioal-media{
  float: right;
  margin-top: 20px;
}
.footer-sotioal-media ul li{
  display: inline-block;
  margin-left: 10px;
}
.footer-sotioal-media ul li i{
  color: #888;
  transition: all .2s;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
}
.footer-sotioal-media ul li i:hover{
  color:#fff;
}
/* ______________media-footer___________ */
@media screen and (max-width: 1199.98px) {
  .continer-footer {
    width: 996px;
  }
}
@media screen and (max-width: 995.98px) {
  .continer-footer {
    width: 776px;
  }
}
@media screen and (max-width: 775.98px) {
  .continer-footer {
    width: 557px;
  }
}
@media screen and (max-width:556.98px){
  .continer-footer{
    width: 100%;
    margin: 0px;
  }
  footer{
    padding:5px;
  }
  .footer-col{
    width: 100%;
    margin:0px;
    float: none;
    padding: 30px 0px;
  }
  .footer-col:nth-of-type(2){
    float: none;
    padding: 0px;
    margin: 0px;
    width: 100%;
  }
  .footer-sotioal-media{
    padding-right: 10px;
  }
}
/* _________________media-main and aside____________ */
@media screen and (max-width: 776.98px) {
  main {
    width: 100%;
    margin: 10px 0px;
    float: none;
  }
  aside {
    width: 100%;
    margin: 10px 0px;
    float: none;
  }
}
/* _________________javascript____________________ */
.show {
  display: block;
}
